body {
    background: white;
}

canvas {
    border: 1px dashed black;
}

.Result {
    font-size: 200px;
    font-family: 'Trebuchet MS';
}

.MainTable {
    width: 100%;
}

.MiddleContent {
    height: 350px;
    vertical-align: center;
}

.Header {
    font-family: 'Trebuchet MS';
    font-size: 42px; 
    background: black;
    text-align: center;
    color: white;
    height: 100px; 
}

.RecognizeButton {
    font-size: 32px;
    font-family: 'Trebuchet MS';
}

.ClearButton {
    font-size: 20px;
    font-family: 'Trebuchet MS';
}